.App {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  background: #1E555C;
  font-family: Righteous;
}

#pomodoro{
  display: block;
  margin: 10%;
  width: auto;
}
#tables{
  display: flex;
  justify-content: center;
}
#break-length, #session-length{
  width: 40px;
}
#session-label, #break-label{
  display: flex;
  font: 500 2rem DS-Digital;
  padding: 10px 12px;
  align-items: center;
  margin: 10px 40px;
  color: white;
}
h1{
  color: white;
  text-align: center;
}
h3{
  font: 600 2rem Righteous;
  color: white;
}
#timer-label{
  border: 6px solid rgba(255,255,255, 0.6);
  
  padding: 20px;
  color: white;
  font: 700 2rem Righteous;
  margin: 30px auto;
  width: 350px;
  border-radius: 10px;
}
#time-left{ 
  display: block;
  margin: 20px;
}
button{
  width: 40px;
  margin: 5px;
  font: 900 2rem Righteous;
  color: white;
  background-color: rgba(59, 108, 156, 0.0);
  border: none;
  border-radius: 3px;

}
#timer{
  
  font: 900 4rem DS-Digital
}